# Crossaver global .gitignore
# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

# Build systems/editors project files
Makefile
*.cbp
*.layout
*.sdf
*.sln
*.suo
*.vcxproj*
Win32
*.dir

# Libraries
lib

# Executables
bin

# Editor temporary files
*.swp
